/*בס"ד*/

header {
    text-align: right;
    margin-bottom: 20px;
}

body {
    min-height: 100%;
    text-align: center;
    /* background-color: aqua; */
}

.levels {
    margin-bottom: 20px;
}

.smiley {
    margin-bottom: 20px;
}

.hints {
    margin-bottom: 20px;
}

table,
td {
    border: 1px solid black;
    margin: auto;
}

td {
    width: 27px;
    height: 27px;
    /* position:fixed; */
    /* z-index: 0; */
}

.closed {
    position: absolute;
    /* position:fixed; */
    opacity: 30%;
    width: 29px;
    height: 29px;
    background-color: gray;
    margin-top: -4.8px;
    /* z-index: 1; */
    /* top: -1px; */
}

.modal {
    display: none;
    border: 5px solid black;
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

/* footer{
    
} */